*{
    margin:0;
    padding: 0;

}

.container{
    width:100%;
    margin:0 auto;
    background: gray;
    
}

.items{
    background: red;
    width:100px;
    border:1px solid orangered;
    height: 100px;
    margin:10px;
    float:left;
}

.floater::after{
   content:'';
   display: block;
   clear:both;
}

@media (min-width:1200px) and (max-width:1399px){
    .items{
        background: green;
        width:100px;
        border:1px solid yellowgreen;
        height:100px;
        margin:20px;
        float:left;

    }

}

@media (min-width:992px) and (max-width:1199px){
    .items{
        background: slateblue;
        border:1px solid red;

    }
}

@media (min-width:768px) and (max-width:991px){
    .items{
        background: royalblue;
        border:1px solid red;
        float:none;

    }
    #items3,#items4{
        background: royalblue;
        border:1px solid red;
        float:none;
        display:none;

    }
}