.container{
    display: flex;
}
.zoro:hover{
    transform: rotate(90deg);
    transition-duration: 7s;
}
.sanji:hover{
    transform: rotate(90deg);
    transition-duration: 7s;
}
.ussop:hover{
    transform: rotate(90deg);
    transition-duration: 7s;
}

.us{
    display:none;
  }
.ussop:hover +.us{
  position: fixed;
  display:inline;
  color:red;
  background-color: pink;
  width:200px;
  border:2px solid cyan;
  border-radius: 20px;
  bottom:400px;
  right:320px;
  padding: 10px;


}

.san{
    display:none;
  }
.sanji:hover +.san{
  position: fixed;
  display:inline;
  color:white;
  background-color: black;
  width:200px;
  border:2px solid black;
  border-radius: 20px;
  bottom:400px;
  right:320px;
  padding: 10px;

}

.z{
    display:none;
  }
.zoro:hover +.z{
  position: fixed;
  display:inline;
  color:red;
  background-color: whiblackte;
  width:200px;
  border:2px solid cyan;
  padding: 10px;
  border-radius: 20px;
  bottom:400px;
  right:320px;


}